 {%  apply inline_css %}
     <body style="background-color: #fafafa;">
     <div style="width: 80%; margin: auto;">
         <table>
             <tr>
                 <th style="margin-right: 100px">
                     <h2>CheikhBook</h2>
                     <blockquote class="blockquote" style="color: #d9d9d9;">
                         Rue Cheikh Book only<br> 8542 Megrine <br> Tunis
                     </blockquote>
                 </th>
                 <th class="text-right">
                     <h1>Facture No. <br> 2541687541</h1>
                 </th>
             </tr>
         </table>

         <br>
         <div>
             <div style="background-color: #f9f9f9;">
                 <div>
                     <b>Payement Date: </b> 12/12/1212 <br>
                     <b>Facture Obtaining Date: </b> 12/12/1212 <br>
                     <b>Facture id: </b> 2541687541 <br>
                     <b>Client: </b> falfoul
                 </div>
             </div>
             <div>
                 <b>Destinataire</b> <br>
                 <b>Reception Type: </b> <br>
             </div>
         </div>
         <br>
         <p class="text-center">
             <b style="color: #808080;">Specially for you</b> <br>
             <span style="color: #818181;">
                Thank you for visitiong our Website.<br>Your Service is our plaisure! <br>
            </span>
         </p>
         <br>
         <table class="table table-bordered">
             <tr style="background-color: #b3d9ff;">
             <td > <b> Books name </b></td> <td> <b> Price </b></td>
             </tr>
             <tr>
                 <td> Book 1 </td> <td> price 1 </td>
             </tr>

             <tr>
                 <td> Book 2 </td> <td> price 3 </td>
             </tr>
         </table>
         <br>
         <p class="text-right mr-5">
             <b>Total: </b> 12031565624dT
         </p>
         <hr><br>
         <div>
             <div>
                 <b>CheikhBook</b><br>
                 <b>Adress: </b> cité falfoul flefel <br>
                 <b>City: </b> Megrine <br>
                 <b>Postal Code: 8521</b> <br>
             </div>
             <div>
                 <b>Facebook: </b>facebook.com/CheikhBook <br>
                 <b>Instagram: </b>@CheikhBook <br>
                 <b>Email: </b>Cheikh11Book@gmail.com <br>
                 <b>Phone: </b>12365478 <br>
             </div>
             <div>
                 In relationship with Post
             </div>
         </div>
     </div>

 {% endapply %}

