{% extends 'baseFront.html.twig' %}
{% block Title %}
        Payement
{% endblock %}

{% block body %}

   <div class="container">
       <div class="row my-5 justify-content-center align-items-center">
           <div class="col-2">
               <i class="far fa-home fa-2x" ></i>
           </div>
           <div class="col-7">
               <h3>Get it with Post</h3>
               <p>Based on the Address you entered, we will send you the list of books</p>
           </div>
           <div class="col-3">
               <a href="{{ path('confirmad') }}" class="btn" style=" width:150px; background-color: #52ACB4;color: white">Confirm Address</a>
           </div>
       </div>
       <hr>
       <div class="row my-5 align-items-center align-items-center">
           <div class="col-2">
               <i class="far fa-calendar fa-2x"></i>
           </div>
           <div class="col-7">
               <h3>SET MEETING</h3>
                <p>Chose a date and a time when you can visit us at megrine to recieve your books</p>
           </div>
           <div class="col-3">
               <a href="{{ path('set_meeting') }}" class="btn" style=" width:150px; background-color: #52ACB4;color: white">Set a Meeting</a>
           </div>
       </div>
   </div>
{% endblock %}
