{% extends 'baseFront.html.twig' %}
{% block navitem1 %} catalog {% endblock %}
{% block navitem2 %} {% endblock %}
{% block navitem3 %} {% endblock %}

{% block body %}
    <h5>{{livre.nomLivre}}</h5>
    <a href="/catalogue">Back</a>
/* nbre de like
    date de pub
    */
{% endblock %}