{#<!------ Include the above in your HEAD tag ---------->#}

<style>


    * {
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
    }


    .carousel-cell {
        width: 28%;
        height: 200px;
        margin-right: 10px;
        /*background: #8C8;*/
        border-radius: 5px;
        counter-increment: carousel-cell;
    }

    .carousel-cell:before {
        display: block;
        text-align: center;
        /*content: counter(carousel-cell);*/
        line-height: 200px;
        font-size: 60px;
        color: white;
    }

    .carousel-cell img {
        display: block;
        max-height: 88%;
        width: 95%;

        /*height: 200px;*/
        /* set min-width,
           allow images to determine cell width */
        /*min-width: 150px;*/
        /*max-width: 100%;*/
        /*margin-right: 10px;*/
        /*!* vertically center *!*/
        /*top: 50%;*/
        /*transform: translateY(-50%)*/
    }




</style>
<div class="carousel" data-flickity='{ "groupCells": true }'>
    {% for livre in filtre %}
        <div class="carousel-cell">
            <a href="/livre/{{ livre.id }}"> <img  src="{{ livre.path }}" data-toggle="tooltip"
                                                  data-placement="bottom" title="{{ livre.nomLivre }}">
            </a>  <b><p style="font-size:80%; font-family: 'Noto Sans HK', sans-serif" class="text-center">{{ livre.nomLivre }} </p>
            </b>

        </div>
    {% endfor %}
</div>


<br>
<br>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
