body{
    background: url("cover.jpg") rgba(0,0,0,0.7);

}
#forgot{
    color: #004041;
}
small{
    font-size: 10px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: -5px;
}
h5.modal-title{
    font-weight: bold;
    text-align: center;
    color:whitesmoke;
}

h5.modal-title p{
    color:whitesmoke;
}

.register{
    width: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:25px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(60px);
}

.form-control{
    width: 330px;
    margin-top: 10px;
    margin-left: -50px;
    background: none;
    padding-left: 40px;
    color:white;

}
.form-control:focus{
    background: none;
}
.input-icons{
    display:flex;
}

.adjust{
    margin-left:-45px;
}

.register i{
    padding:20px ;
    color: white;
    float: left;
}

.signup{
    display: flex;
    align-items: center;
    flex-direction: column;

}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input[name="username"],input[name="tel"]{
    margin-left: -45px;
}
a,a:hover{
    text-decoration: none;
}

button{
    margin-top: 20px;
}

p{
    font-size: 15px;
}
.modal-footer p{
    padding: 10px;
}


.btn {
    width: 150px;
    margin-left: 95px;
    background-color: #6BD5CB;
    border: #6BD5CB;
    color: whitesmoke;

}
.btn:hover , .btn:active{
    background-color: #52ACB4;
    border: #52ACB4;
    color: whitesmoke;
}
.modal-footer a{
    color: #6BD5CB;
}

.modal-footer p{
    color: whitesmoke;
}

