
:root{
  --price_color:#ffa15e;
  --nav_color:#7FCDCD;
  --cardbutton_color:#b5e3d9;
  --cheikh:'El Messiri', sans-serif;
}





#header2{
    background-color:var(--nav_color);
    height:70px ;


}

.page-link{
  color:var(--nav_color);
}




#cheikh{
  font-size:29px;
  text-shadow:1px 1px 2px white;
  font-family:var(--cheikh);

}


