{% extends 'baseBack.html.twig' %}
{% block link %}<link rel="stylesheet" href={{ asset('Account/AccountStyle.css') }}>{% endblock %}

{% block title %}
    Edit Category
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <h1>Edit Category</h1>
        </div>
        <div class="row">

            {{ form(Categoryform) }}

        </div>
    </div>
{% endblock %}