.card:hover {
    /* box-shadow: 4px 4px #80808036; */
    transform: translate(0,0);
}

body {
    background: url("cover.png") no-repeat center fixed;
    background-size: cover;
}
.navbar {
    border-color: #333333;
    z-index: 30;
    margin: 0 auto;
    background-color: #c1c1c140;
}
:root {

    --nav_color: #769e9e;
}
.text:hover {
    font-size: large;
}
.main {
    width: 50%;
    margin: 50px auto;
}
.search-input{
    width: 180%;
    float: left;
    position: relative;
}
.search-submit{
    background-color: unset;
    border: unset;
    float: right;
    position: absolute;
}
.search-submit:focus{
    border: #9fcdff;
}
@media screen and (max-width: 510px){
    .search-input{
        width: 160%;
        float: left;
        position: relative;
    }
}
@media screen and (max-width: 460px){
    .search-input{
        width: 140%;
        float: left;
        position: relative;
    }
}
@media screen and (max-width: 400px){
    .main{
        width: 90%;
        margin: 0 10% 0 0;
        left: 30%;
        position: relative;
    }
}
@media screen and (max-width: 400px){
    .search-input, .search-submit{
        font-size: small;
    }
}
@media screen and (max-width: 335px){
    .search-input, .search-submit{
        font-size: x-small;
    }
}
@media screen and (max-width: 290px){
    .search-input, .search-submit{
        font-size: xx-small;
    }
}
@media screen and (max-width: 260px){
    .search-input{
        width: 100%;
        float: unset;
        height: 55%;
        padding: 10%;
    }
    .search-submit{
        float: unset;
        position: unset;
        width: 100%;
    }
}
@media screen and (max-width: 230px){
    .search-input{
        padding: 0%;
    }
}
.search-bar{
    width: 170%;
    right: 35%;
}

.form-control {
    padding-left: 2.375rem;
}
.modal-popup{
    background-color: #f5f5f563;
}
.search-button{
    background-color: darkgrey;
    color: white;
    font-size: large;
}

.failure-result{
    color: #c1dada;
    text-align: center;
}

.result-header{
    color: whitesmoke;
    text-align: center;
    padding: 2%;
}
.result{
    background-color: #17a2b857;
    margin: 2% 10% 10% 10%;
    padding: 5%;
}
.before-carousel{
    margin: 50% 0 0 0;
}
.my-carousel{
    margin: 5% 5% 10% 5%;
}
@media screen and (max-width: 700px){
    .my-carousel{
        margin: 5% 1% 10% 1%;
    }
}
@media screen and (max-width: 700px){
    .my-carousel{
        margin: 5% 1% 10% 1%;
    }
    .my-image{
        height: 400px;
    }
}

.my-image{
    height: 400px;
}
.link-to-category{
    color: white;
}
.link-to-category:hover{
    color: white;
    text-decoration: none;
}

.step{
    height: 90px;
    margin: 1px 0;
}
@media screen and (max-width: 1000px)
{
    .step {
        height: 140px;
    }
}

@media screen and (max-width: 580px)
{
    .step-activity {
        font-size: 200%;
    }
}

@media screen and (max-width: 492px)
{
    .step {
        height: 170px;
    }
}

@media screen and (max-width: 410px){
    .step-activity {
        font-size: 170%;
    }
}
@media screen and (max-width: 372px){
    .step-activity {
        font-size: 140%;
    }
    .step {
        height: 135px;
    }
}
@media screen and (max-width: 335px){
    .step-activity {
        font-size: 120%;
    }
    .step {
        height: 150px;
    }
}
@media screen and (max-width: 290px){
    .step-activity {
        font-size: 110%;
        bottom: -10px;
    }
    .step-image {
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width: 250px){
    .step-activity {
        left: 80px;
        font-size: 100%;
        bottom: -10px;
    }

    .step-image {
        width: 70px;
        height: 70px;
    }
}
@media screen and (max-width: 200px){
    .step-activity {
        left: 80px;
        font-size: 80%;
        bottom: 0px;
    }

    .step-image {
        width: 50px;
        height: 50px;
    }
}
.steps{
	padding: 5%;
	background-color: whitesmoke;
	margin: -1%;
}
.step-icon{
	color: #3b777d;
}

 .why{
    background-color: #b5e3d9;
    margin: 0;
}
.card{
    padding: 3%;
    margin: 3%;
}

.whycard:hover{
    box-shadow: 4px 4px #80808036;
    transform: translate(0, -15px);
}
.card-deck{
    margin: 1%;
    padding: 2%;
    padding-bottom: 10%;
}

.form-control{
    width: 370%;
    margin: 10%;
}
#comment_Publish{
    position: relative;
    left: 334%;
    background-color: var(--cardbutton_color);
    border: #484545;
}
#comment_message:focus{
    box-shadow: none;
}
@media screen and (max-width: 1320px){
    .form-control{
        width: 340%;
        margin: 10%;
    }
}

@media screen and (max-width: 1270px){
    .form-control{
        width: 320%;
        margin: 10%;
    }
    #comment_Publish{
        position: relative;
        left: 300%;
    }
}

@media screen and (max-width: 1160px){
    .form-control{
        width: 290%;
        margin: 10%;
    }
    #comment_Publish{
        position: relative;
        left: 270%;
    }
}

@media screen and (max-width: 1060px){
    .form-control{
        width: 270%;
        margin: 10%;
    }
    #comment_Publish{
        position: relative;
        left: 245%;
    }
}
@media screen and (max-width: 970px){
    .form-control{
        width: 240%;
        margin: 10%;
    }
    #comment_Publish{
        position: relative;
        left: 210%;
    }
}
@media screen and (max-width: 870px){
    .form-control{
        width: 220%;
        margin: 10%;
    }
    #comment_Publish{
        position: relative;
        left: 190%;
    }
}

@media screen and (max-width: 800px){
    .form-control{
        width: 200%;
        margin: 10%;
    }
    #comment_Publish{
        position: relative;
        left: 170%;
    }
}

@media screen and (max-width: 767px){
    .form-control{
        width: 300%;
        margin: 10%;
    }
    #comment_Publish{
        position: relative;
        left: 275%;
    }
}
@media screen and (max-width: 710px){
    .form-control{
        width: 260%;
        margin: 10%;
    }
    #comment_Publish{
        position: relative;
        left: 245%;
    }
}

@media screen and (max-width: 635px){
    .form-control{
        width: 223%;
        margin: 4%;
    }
    #comment_Publish{
        position: relative;
        left: 220%;
    }
}
@media screen and (max-width: 580px){
    .form-control{
        width: 205%;
        margin: 4%;
    }
    #comment_Publish{
        position: relative;
        left: 200%;
    }
}

@media screen and (max-width: 540px){
    .form-control{
        width: 190%;
        margin: 4%;
    }
    .display-3{
        font-size: 200%;
    }

    #comment_Publish{
        position: relative;
        left: 155%;
    }
}

@media screen and (max-width: 475px){
    .form-control{
        width: 172%;
        margin: 4%;
    }
    #comment_Publish{
        position: relative;
        left: 145%;
    }
}

@media screen and (max-width: 420px){
    .form-control{
        width: 155%;
        margin: 4%;
    }
    #comment_Publish{
        position: relative;
        left: 125%;
    }
}

@media screen and (max-width: 380px){
    .form-control{
        width: 135%;
        margin: 4%;
    }
    #comment_Publish{
        position: relative;
        left: 110%;
    }
}
@media screen and (max-width: 345px){
    .form-control{
        width: 135%;
        margin: 4%;
    }
    #comment_Publish{
        position: relative;
        left: 100%;
    }
}

@media screen and (max-width: 320px){
    .form-control{
        width: 125%;
        margin: 4%;
    }
    #comment_Publish{
        position: relative;
        left: 90%;
    }
}

@media screen and (max-width: 315px){
    .form-control{
        width: 160%;
        margin: 0%;
        padding: 0;
    }
    #comment_Publish{
        position: relative;
        left: 115%;
    }
}

@media screen and (max-width: 280px){
    .form-control{
        width: 160%;
        margin: 0%;
        padding: 0;
    }
    #comment_Publish{
        position: relative;
        left: 110%;
    }
}


@media screen and (max-width: 280px) {
    .form-control {
        width: 125%;
        margin: 0%;
        padding: 0;
    }

    #comment_Publish {
        position: relative;
        left: 95%;
    }
}


@media screen and (max-width: 255px) {
    .form-control {
        width: 137%;
        margin: 0%;
        padding: 0;
    }

    #comment_Publish {
        position: relative;
        left: 90%;
    }
}

@media screen and (max-width: 255px) {
    .form-control {
        width: 137%;
        margin: 0%;
        padding: 0;
    }

    #comment_Publish {
        position: relative;
        left: 90%;
        margin: 0%;
    }
}


@media screen and (max-width: 245px) {
    .form-control {
        width: 125%;
        margin: 0%;
        padding: 0;
    }

    #comment_Publish {
        position: relative;
        left: 75%;
        margin: 0%;
    }
}


.comment{
    padding: 5%;
    background-color: #b5e3d9;
    margin: -1% 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff0;
    border-color: #80bdff00;
    outline: 0;
}

.no-box-shadow {
    box-shadow: none
}

.no-box-shadow:focus {
    box-shadow: none
}

.day {
    font-size: 9px
}

.heart {
    border: 1px solid green;
    border-color: green !important;
    border-radius: 22px
}

.heart-icon {
    color: green
}

.comment-text {
    font-size: 12px
}

#comment_message{
    border: #fff0;
}

.display-3{
    text-align: center;
    padding: 2%;
}
