{% extends 'baseFront.html.twig' %}

{% block Title %} Payement {% endblock %}

{% block body %}
    <section class="jumbotron text-center mt-1">
        <div class="container">
            <h1>You made it to the Payement process</h1>
        </div>
    </section>

    <div class="container-fluid">
        <h2 class="my-5">pick up a way to make it</h2>
        <div class="row my-5">
            <div class="col-6"><a class="btn btn-primary" href="#">Via Poste</a></div>
            <div class="col-6"><a class="btn btn-success" href="#">Face to Face</a></div>
        </div>
    </div>
{% endblock %}