{% extends 'baseBack.html.twig' %}
{% block link %}<link rel="stylesheet" href={{ asset('Account/AccountStyle.css') }}>{% endblock %}

{% block title %}
    Edit Book
{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">
            <h1>Edit Book</h1>
        </div>
        <div class="row">

            {{ form(Livreform) }}

        </div>
    </div>
{% endblock %}

