.clr{
    clear: both;
}

body
{
    color: white;
    background-color: silver;
    font-family: helvetica, Arial, Sans-serif;
    font-size: 18px;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}
a:hover{
    color: rgb(43, 134, 107);
}
a:active{
    color: rgb(0, 211, 28);
}
a:visited{
    color: black;
}

.container{
    width: 70%;
    margin: auto;
    overflow: hidden;/* Hedhi ki aamltha jou lazguin l baadhhom */
}

.main-header{
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 1em;
    min-height: 100px;
}
.navbar{
    background-color: #444;
    padding: 0em;
    min-height: 50px;
    border-radius: 1em;
}

.navbar ul{
    list-style: none;
    width: 100%;
}

.navbar li{
    float: left;
    width: 20%;
}

#search-f{
    background-color: orchid;
    color: darkred;
    border: darkgrey 1px solid;
    width: 90%;
    float: left;
    height: 50px;
    border-radius: 1em;
    place-items: white;
}
#search-f:hover{
    background-color: darkred;
    color: blue;
    border: red 1px dotted;
    border-radius: 1em;
}

#search-b{

    background-color: grey;
    color: white;
    border:darkgrey 1px solid;
    border-radius: 1em;
    width: 10%;
    float: right;
    margin: 0em;
    height: 50px;
}
#search-b:hover
{
    background-color: darkred;
    color: blue;
    border: red 1px dotted;
    border-radius: 2em;
}

.sidebar1{
    margin-top: 10px ;
    float:left;
    width: 25%;
    border: gray dashed 1px;
    box-sizing: border-box;
    min-height: 500px;
    border-radius: 1em;

}

.main{
    margin-top: 10px ;
    float: right;
    width: 75%;
    border: green solid 1px;
    min-height: 500px;
    box-sizing: border-box;
    border-radius: 1em;
}

footer{
    margin-top: 10px;
    padding: 20px;
    text-align: right;
    background-color: black;
    color: white;
    border-radius: 1em;
    margin-bottom: 5px;
}