{% extends 'baseBack.html.twig' %}
{% block link %}<link rel="stylesheet" href={{ asset('Account/AccountStyle.css') }}>{% endblock %}

{% block title %}
    Edit User
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
    <h1>Edit User</h1>
        </div>
        <div class="row">

      {{ form(form) }}

        </div>
    </div>
{% endblock %}

