
{% apply inline_css %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <style  >
            body{
                border-top: #52ACB4 8px solid;
                padding-top: 30px;
                padding-bottom: 30px;
                box-shadow: gray 1px 1px 10px;
                width: 650px;
                background-color: white;
                margin-top: 20px;
            }

            a, a:hover {
                color: #52ACB4;
                font-weight: bold;
                margin-top: 20px;
                margin-left: 280px;
            }

            h2, p {
                text-align: center;
            }

        </style>
        <title>Reset Password</title>

    </head>
    <body>
    <h2>Hello {{username}} ! </h2> <br>
    <p>   A reset Password for your account has been requested . <br> Click on the link below to change your password. <br>
    </p>
    <hr>
    <a href="{{ absolute_url(path('ResetPassword',{'token':token })) }}" class="btn save">Reset Password</a>
    </body>
    </html>

{% endapply %}