{% extends 'baseFront.html.twig' %}

{% block link %}<link rel="stylesheet" href={{ asset('form.css') }}>{% endblock %}
   {% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="signup">
        <div class="register">
            <div class="modal-header">
                <h5 class="modal-title" id="Title" >Sign Up <br>
                    <p>Join Our Community Of Book Lovers</p>
                </h5>
            </div>
            <div class="modal-body">
                <form method="post">

                    <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                    <button class="btn btn-lg btn-primary" type="submit">
                        Send mail !
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <p>Already Have An Account ? <a href ={{ path('app_login')}}  >Log In</a> </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block signupbutton%}{% endblock %}